pyrogram==1.3.6
telethon==1.24.0
py-tgcalls==0.8.6 
TgCrypto
SQLAlchemy==1.4.21
git+https://github.com/Sorrybabe/downloader
python-dotenv
youtube_dl
youtube_search_python 
requests
googletrans==4.0.0rc1
aiohttp
aiofiles
asyncio
youtube_search
python-arq
search_engine_parser
wget 
ffmpeg-python
Pillow==9.1.1
ujson
future
aiohttp
heroku3
telegraph
lyricsgenius
speedtest-cli
psutil
gTTS
telethon
cryptg
dnspython
gitpython
