pyrogram==1.4.16
telethon==1.24.0
ffmpeg-python
TgCrypto
SQLAlchemy
yt-dlp
git+https://github.com/tecnoagateam/ledydown
python-dotenv
youtube_dl
youtube_search_python 
requests
googletrans==4.0.0rc1
aiohttp
aiofiles
asyncio
youtube_search
python-arq
search_engine_parser
wget 
ffmpeg-python
Pillow
ujson
future
aiohttp
python-dotenv
telegraph
lyricsgenius
speedtest-cli
psutil
gTTS
telethon
cryptg
dnspython
gitpython
motor
heroku3
railway
